@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;

    --color-background-1: var(--dvx-background-1);
    --color-background-2: var(--dvx-background-2);
    --color-background-3: var(--dvx-background-3);
    --color-typography-1: var(--dvx-typography-1);
    --color-typography-2: var(--dvx-typography-2);
    --color-typography-3: var(--dvx-typography-3);
    --color-primary: var(--dvx-primary);
}

@layer base {
    :root {
        --dvx-background-1: oklch(98% 0 0);
        --dvx-background-2: oklch(95% 0 0);
        --dvx-background-3: oklch(92% 0 0);
        --dvx-typography-1: var(--color-black);
        --dvx-typography-2: var(--color-zinc-800);
        --dvx-typography-3: var(--color-zinc-800);
        --dvx-primary: var(--color-sky-500);

        @media (prefers-color-scheme: dark) {
            --dvx-background-1: oklch(0.21 0.008 286);
            --dvx-background-2: oklch(0.23 0.008 286);
            --dvx-background-3: oklch(0.25 0.008 286);
            --dvx-typography-1: var(--color-white);
            --dvx-typography-2: var(--color-zinc-300);
            --dvx-typography-3: var(--color-zinc-400);
            --dvx-primary: oklch(0.44 0.08 259);
        }
    }
}